html {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(230, 237, 238);
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sketch-box {
  display: flex;
  border: 15px solid rgb(95, 93, 93);
  height: 80%;
  width: 40%;
  margin: 40px;
}

.grid-row {
  display: grid;
  width: 100%;
  justify-content: stretch;
}
.cell {
  border: 1px solid gray;
  background-color: rgb(240, 247, 247);
}

.no-border-cell {
  background-color: rgb(240, 247, 247);
}

.user-menu {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-height: 80%;
  max-width: 20%;
  margin: 50px;
  border: none;
}

#colorpicker {
  min-height: 60px;
  min-width: 60px;
  border: none;
}

button {
  min-height: 35px;
  min-width: 160px;
  background-color: #d3d3d3;
  border-color: #d3d3d3;
}

button:hover {
  background-color: #9e9898be;
}

button,
label,
p {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 15px;
}
